<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="yellow-bg header">
      <div class="top-bar">
        <img src="/images/logo-mercado-liebre.svg" alt="Logotipo" id="logo" />
        <form action="" method="GET" class="search-bar">
          <input
            class="form-search-bar"
            type="text"
            name="search-bar"
            id="search-bar"
            placeholder="Buscar productos, marcas y mas..."
          />
          <button type="submit" class="">
            <i class="fas fa-search search-icon"></i>
          </button>
        </form>
        <p class="txt-center header-txt">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav id="main-nav" class="none">
        <ul class="left-nav">
          <li><a href="/">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="right-nav">
          <li>
            <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i> </a>
          </li>
          <li>
            <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars light-blue-bg light-grey-txt"></i>
      </div>
    </header>
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="Banner" />
    </section>
    <main id="main-content">
      <form action="/" method="GET" class="main-form login">
        <div class="form-box">
          <label class="form-title" for="username">Nombre de usuario:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-input"
            placeholder="Nombre de usuario"
          />
        </div>
        <div class="form-box">
          <label class="form-title" for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-input"
            placeholder="Contraseña"
          />
        </div>
        <button type="submit" class="inline button-form">Enviar</button>
      </form>
    </main>
    <footer id="footer-pag">
      <section>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p class="contenido">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p class="contenido">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p class="contenido">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </body>
</html>
