<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <header class="yellow-bg header">
      <div class="top-bar">
        <img src="/images/logo-mercado-liebre.svg" alt="Logotipo" id="logo" />
        <form action="" method="POST" class="search-bar">
          <input
            class="form-search-bar"
            type="text"
            name="search-bar"
            id="search-bar"
            placeholder="Buscar productos, marcas y mas..."
          />
          <button type="submit" class="">
            <i class="fas fa-search search-icon"></i>
          </button>
        </form>
        <p class="txt-center header-txt">
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav id="main-nav" class="none">
        <ul class="left-nav">
          <li><a href="/">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="right-nav">
          <li>
            <a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i> </a>
          </li>
          <li>
            <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars light-blue-bg light-grey-txt"></i>
      </div>
    </header>
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="Banner" />
    </section>
    <main id="main-content">
      <form action="/" method="GET" class="main-form">
        <div class="form-box">
          <label class="form-title" for="name_lastname"
            >Nombre y apellido:</label
          >
          <input
            type="text"
            name="name_lastname"
            id="name_lastname"
            class="form-input"
            placeholder="Nombre y apellido"
          />
        </div>
        <div class="form-box">
          <label class="form-title" for="username">Nombre de usuario:</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-input"
            placeholder="Nombre de usuario"
          />
        </div>
        <div class="form-box">
          <label class="form-title" for="birthday">Fecha de nacimiento:</label>
          <input type="date" name="birthday" id="birthday" class="form-input" />
        </div>
        <div class="form-box">
          <label class="form-title" for="adress">Domicillio:</label>
          <input
            type="text"
            name="adress"
            id="adress"
            class="form-input"
            placeholder="Domicillio"
          />
        </div>
        <div class="form-box">
          <label class="form-title">Perfil de usuario:</label>
          <div class="form-selectors">
            <label
              ><input type="radio" name="profile_user" value="Comprador" />
              Comprador</label
            >
            <label
              ><input type="radio" name="profile_user" value="Vendedor" />
              Vendedor</label
            >
          </div>
        </div>
        <div class="form-box">
          <label class="form-title">Intereses:</label>
          <div class="form-selectors">
            <label class="block"
              ><input
                type="checkbox"
                name="interests"
                value="Electro"
              />Electro</label
            >
            <label class="block"
              ><input
                type="checkbox"
                name="interests"
                value="Moda"
              />Moda</label
            >
            <label class="block"
              ><input
                type="checkbox"
                name="interests"
                value="Hogar"
              />Hogar</label
            >
            <label class="block"
              ><input
                type="checkbox"
                name="interests"
                value="Jugeteria"
              />Jugeteria</label
            >
            <label class="block"
              ><input type="checkbox" name="interests" value="Vida sana" />Vida
              sana</label
            >
          </div>
        </div>
        <div class="form-box">
          <label class="form-title">Foto de usuario:</label>
          <input
            type="file"
            name="profile-picture"
            accept=".jpg"
            class="form-input"
          />
        </div>
        <div class="form-box">
          <label class="form-title" for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-input"
            placeholder="Contraseña"
          />
        </div>
        <div class="form-box">
          <label class="form-title" for="conpassword" class="form-input"
            >Confirmar contraseña:</label
          >
          <input
            type="password"
            name="conpassword"
            id="conpassword"
            class="form-input"
            placeholder="Confirmar contrsaeña"
          />
        </div>
        <button type="submit" class="inline button-form">Enviar</button>
        <button type="reset" class="inline button-form">Borrar</button>
      </form>
    </main>
    <footer id="footer-pag">
      <section>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p class="contenido">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p class="contenido">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p class="contenido">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
    </footer>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </body>
</html>
